/* http://www.w3schools.com/css/css_navbar.asp */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;

}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

/* Change the link color on hover */
li a:hover {
    background-color: rosybrown;
    transform: rotate(180deg);
}